<div class="box">
    <div class="grid-container">
        <div class="menu">
            <div class="button-task">
                <button class="create-button-task" (click)="showModuleAddTask()" style="margin-top:23px">
                    New task
                </button>
            </div>
            <div class="container-task">
                <div class='text-mytask' (click)="myTasksAll()" style="color:#8861bd">
                </div>
                <ul class='text-mytask' style="color:#8861bd">
                    <li class="myTask">
                        My tasks
                    </li>
                </ul>
                <ul class='text-mytask' style="color:#8861bd">
                    @for(y of statusTask;track $index){
                    <li [ngClass]="y.show?'statusTask':'statusTaskChecked'" (click)="myTasks(y)">
                        {{y.task}}
                    </li>
                    }
                </ul>
                <div> @for(d of arrNew;track $index){
                    <h2>{{d.task}}</h2>
                    }
                </div>
                <ul class='text-mytask' style="color:#8861bd">

                    @for(x of statusDelete;track $index){
                    <li class="statusTaskDelete" [style.color]="x.show?'':'#ab6aff'" (click)="deleteShow(x)">
                        {{x.task}}
                    </li>

                    }
                </ul>

                <ul style="padding-left:17px;">Тэги </ul>
                <div class="box-teg">
                    <ul>
                        @for(i of tegTask;track $index){

                        <li [ngClass]="i.show?'statusTeg':'statusTegChecked'" (click)="myTasks(i)">
                            {{i.task}}
                        </li>

                        }
                    </ul>

                </div>
            </div>
        </div>
        <div class="main3">


            @if(showDelete){
            <div class="task-text my-task">Deleted</div>
            <app-delete></app-delete>
            }
            @else{
            <div class="container">
                <app-search [(Array)]="array" [(New_arr5)]="new_arr5" [Search]="search"
                    [New_arr5]="new_arr5"></app-search>

                <div class="task-text my-task">My tasks</div>
                <div cdkDropList (cdkDropListDropped)="dragDrop($event)">
                    <ng-container>
                        @for (x of array ;track x;let index=$index){
                        @if(index<this.Page){ <div class="item" [style.background]="x.delete?'#242C43':''">
                            <label class="main">
                                <input type="checkbox" [checked]="x.performed" (change)="x.performed=!x.performed">
                                <span class="checkbox-container" [style.background]="x.delete?'#242C43':''"></span>
                            </label>
                            <div class="task">
                                <span [class.orange]="x.important===true" (click)="all(x)">
                                    {{x.id }}|{{x.task }}
                                </span>
                            </div>
                            <div class="chosen-teg">
                                @if(x.edication){
                                <div class="teg">Edication</div>
                                }
                                @if(x.productivity){
                                <div class="teg" style="color:#ab6aff">Productivity</div>
                                }
                                @if(x.health){
                                <div class="teg" style="color:#FF9F43">Health</div>
                                }
                                @if(x.urgent){
                                <div class="teg" style="color:#EA5455">Urgently</div>
                                }
                            </div>
                            <div class="icone-calendar">
                               

                                <div class="date">
                                    {{x.time}}/{{x.date}}
                                </div>

                                <div class="cart" (click)="deleteAskTask(x)">
                                    <img src="/assets/cart.jpg">
                                </div>
                                <div cdkDrag>
                                    <div class="change">
                                        <img src="/assets/check.jpg">
                                    </div>
                                </div>
                            </div>

                </div>
                }
                }
                </ng-container>
            </div>

            @if(this.array.length>5){
            <app-page [(page)]="Page"></app-page>
            }
            @if(deleteModul){
            <div class="delete-modul">
                <div class="sign-delete">
                    <div class="circle">
                        <h1>!</h1>
                    </div>
                </div>
                <h3>Are you sure ?</h3>
                <p>You can't recover it</p>
                <div class="button-task delete-task">
                    <button class="create-button-task change-button-task button-delete-modul"
                        (click)="confermDelete(true)">
                        Yes, delete
                    </button>
                    <button class="create-button-task button-delete-modul remove-button" (click)="confermDelete(false)">
                        Cancel
                    </button>
                </div>
            </div>
            }

            @if(show_module){
            <div class="modal-window">
                <form [formGroup]="profileForm" class="form" (ngSubmit)="addTask()">
                    <div class="title-task">
                        <span style="padding: 3px 12px;">Task</span>

                        <span style="cursor: pointer;text-align: right;" (click)="closeModal()">X</span>

                        <label class="main checkbox-main">
                            <img src="/assets/star.jpg" class="img-modal">
                            <span (click)="important()"></span>
                            <input type="checkbox" class="checkbox-img" formControlName="important">
                        </label>

                    </div>
                    <div class="box-window">
                        @if(!profileForm.valid){
                        <span class="required">To fill task:</span>
                        }
                        <input id="first-name" placeholder="Task name" class="input-modul" type="text"
                            formControlName="task" required>

                        <label class="main checkbox-main">
                            <input type="checkbox" formControlName="important">
                            <span class="checkbox-container modal-label"> </span>
                            <span> Important task</span>
                        </label>
                        <div class="block-modal">
                            <div class="text-modal-window">
                                

                                @if(calendarTime){
                                    @if(profileForm.value.task && !profileForm.value.time){
                                        <span style="color:#ff3e7c;font-weight: 700;">To fill time:</span>
                                        }  <input type="time" (change)="changeDate($event)" formControlName="time"
                                    class="calendar-time" />
                                }
                                  <p></p>
                                  @if(profileForm.value.task && !profileForm.value.date){
                                    <span style="color:#ff3e7c;font-weight: 700;">To fill date:</span>
                                    }                                  
                                  <input type="date" class="input-calendar" value="Дата и время"
                                    (change)=" changeDate($event)" formControlName="date" (click)="showTime()"
                                    required />
                            </div>
                        </div>
                        <div class="block-modal">
                            <div class="text-modal-window">
                                Task description
                            </div>
                            <textarea value="Название задачи" class="description-task input-modul"
                                formControlName="description">
                                </textarea>
                        </div>

                        <div class="block-modal">
                            <div class="text-modal-window ">
                                Tags
                            </div>

                            <div class="box3">
                                <div class="group-checkbox">
                                    <div class="checkbox-box3">
                                        <div>
                                            <label class="main checkbox-main checkbox-teg">
                                                <input type="checkbox" formControlName="productivity">
                                                <span class="checkbox-container modal-label"> </span>
                                                <span class="text-checkbox"> Productivity</span>

                                            </label>

                                        </div>
                                        <div>
                                            <label class="main checkbox-main checkbox-teg">
                                                <input type="checkbox" formControlName="health">
                                                <span class="checkbox-container modal-label"> </span>
                                                <span class="text-checkbox"> Health</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="checkbox-box3">
                                        <div>
                                            <label class="main checkbox-main checkbox-teg">
                                                <input type="checkbox" formControlName="edication">
                                                <span class="checkbox-container modal-label"> </span>
                                                <span class="text-checkbox"> Edication</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="main checkbox-main checkbox-teg">
                                                <input type="checkbox" formControlName="urgent">
                                                <span class="checkbox-container modal-label"> </span>
                                                <span class="text-checkbox"> Urgently</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                </div>
                                <div>
                                </div>
                                <div class="button-task change-task">
                                    <button class="create-button-task change-button-task" (click)="addTask()"
                                        [disabled]="!profileForm.valid" type="submit">

                                        @if(!profileForm.valid){
                                        <div style="color:coral"> Add</div>
                                        }
                                       
                                        @if(profileForm.valid){
                                        <div> Add</div>
                                        }
                                    </button>
                                    <button class="create-button-task button-delete" (click)="deleteTaskModal()">
                                        Delete
                                    </button>


                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            }
        </div>
        }
        <div class="footer4">
            <div class="text-footer"></div>
        </div>
    </div>
</div>
