<div class="box">
    <div class="grid-container">
        <div class="menu">
            <div class="button-task">
                <button class="create-button-task" (click)="showModuleAddTask()">Новая задача</button>
            </div>
            <div class="container-task">
                <div class='text-mytask' (click)="myTasks()" style="color:#8861bd">
                    <img src="/assets/email.jpg" class="img">
                    Мои задачи
                    <!--сброс тегов и статусов-->
                </div>
                <div class="status-task" (click)="myTaskImportant()">
                    <img src="/assets/star.jpg" class="img">
                    Важные
                </div>
                <div class="status-task" (click)="showPerformed()">
                    <img src="/assets/ready.jpg" class="img">
                    Выполненные
                </div>
                <div class="status-task" (click)="showDeleted()">
                    <img src="/assets/cart.jpg" class="img">
                    Удаленные
                </div>
                <div>Тэги </div>
            </div>
            <ul>
                <li (click)="tegEvent(1)">
                    @if(prod){
                    <div style="border: 1px solid coral;
            width: fit-content;
            border-radius: 5px;">
                        Продуктовность
                    </div>
                    }
                    @else{
                    <div>Продуктовность</div>
                    }
                </li>
                <li (click)="tegEvent(2)">
                    @if(edic){
                    <div style="border: 1px solid coral;
                width: fit-content;
                border-radius: 5px;">
                        Образование
                    </div>
                    }
                    @else{
                    <div>Образование</div>
                    }
                </li>
                <li (click)="tegEvent(3)">
                    @if(heal){
                    <div style="border: 1px solid coral;
                width: fit-content;
                border-radius: 5px;">
                        Здоровье
                    </div>
                    }
                    @else{
                    <div>Здоровье</div>
                    }
                </li>
                <li (click)="tegEvent(4)">
                    @if(urg){
                    <div style="border: 1px solid coral;
                width: fit-content;
                border-radius: 5px;">
                        Срочно
                    </div>
                    }
                    @else{
                    <div>Срочно</div>
                    }
                </li>
            </ul>
        </div>
        <div class="main3">
            <div class="task-text">Поиск</div>
            <div class="task-text my-task">Мои задачи</div>
            @if(showDelete){
            @for (d of deleteArr;track $index){
            <div class="container">
                <div class="item">
                    <div class="task">
                        <span>{{d.task}}</span>
                    </div>
                    <div class="chosen-teg-delete">
                        @if(d.edication){
                        <div class="teg">Образование</div>
                        }
                        @if(d.productivity){
                        <div class="teg" style="color:#ab6aff">Продуктивность</div>
                        }
                        @if(d.health){
                        <div class="teg" style="color:#FF9F43">Здоровье</div>
                        }
                        @if(d.urgent){
                        <div class="teg" style="color:#EA5455">Срочно</div>
                        }
                    </div>
                    <div class="icone-calendar">
                        <div class="data"> {{d.time}}/{{d.date}}</div>
                        <div class="cart">
                            <img src="/assets/cart.jpg">
                        </div>
                    </div>
                </div>
            </div>
            }
            }
            @else{
            <div class="container">
                <div cdkDropList (cdkDropListDropped)="dragDrop($event)">
                    @for (x of array;track $index){
                    <div class="item">
                        @if($index<=5){ <label class="main">
                            <input type="checkbox" (change)="performedCheckTask($event,x)">
                            <span class="checkbox-container"></span>
                            </label>
                            <div class="task">
                                <span [class.orange]="x.important===true">{{x.task}}</span>
                            </div>
                            <div class="chosen-teg">
                                @if(x.edication){
                                <div class="teg">Образование</div>
                                }
                                @if(x.productivity){
                                <div class="teg" style="color:#ab6aff">Продуктивность</div>
                                }
                                @if(x.health){
                                <div class="teg" style="color:#FF9F43">Здоровье</div>
                                }
                                @if(x.urgent){
                                <div class="teg" style="color:#EA5455">Срочно</div>
                                }
                            </div>
                            <div class="icone-calendar">
                                <div class="data"> {{x.time}}/{{x.date}}</div>
                                <div class="cart" (click)="deleteTask(x)">
                                    <img src="/assets/cart.jpg">
                                </div>
                          
                                <div cdkDrag>
                                    <div class="change"><img src="/assets/check.jpg"></div>
                                </div>
                            </div>
                            }
                    </div> }
                </div>

              <!--  @if(deleteModul){
                    <div class="delete-modul">
                                         <div> Вы уверены ?</div>
                        <p>Вы не сможете восстановить это</p>
                        <div class="button-task change-task">
                            <button class="create-button-task change-button-task" (click)="conferDelete()">Да, удалить</button>
                            <button
                                class="create-button-task change-button-task button-delete">Отмена</button>
                        </div>
                    </div>
                    }-->



                @if(show_module){
                <div class="modal-window">
                    <span style="padding-left: 13px;  padding-right: 70%;">Задача</span>
                    <span style="text-align: end;cursor: pointer;
                    padding-right: 13px;" (click)="closeModal()">X</span>

                    <div class="box-window">
                        <div class="text-modal-window">
                            Название задачи
                        </div>
                        <form [formGroup]="profileForm" class="form" (ngSubmit)="addTask()">

                            <input id="first-name" placeholder="Название задачи" class="input-modul" type="text"
                                formControlName="task" required>
                            @if(!profileForm.valid){
                            <span>заполните задачу</span>
                            }
                            <label class="main checkbox-main">
                                <input type="checkbox" formControlName="important">
                                <span class="checkbox-container modal-label"> </span>
                                <span> Важная задача</span>
                            </label>
                            <div class="block-modal">
                                <div class="text-modal-window">
                                    Заполните дату и время окончания
                                    @if(calendarTime){
                                    <input type="time" (change)="changeDate($event)" formControlName="time"
                                        class="calendar-time" />
                                    }
                                    <input type="date" class="input-calendar" value="Дата и время"
                                        (change)=" changeDate($event)" formControlName="date" (click)="showTime()" />
                                </div>
                            </div>
                            <div class="block-modal">
                                <div class="text-modal-window">
                                    Описание задачи
                                </div>
                                <textarea value="Название задачи" class="description-task input-modul"
                                    formControlName="description">
                                </textarea>
                            </div>

                            <div class="block-modal">
                                <div class="text-modal-window ">
                                    Тэги
                                </div>

                                <div class="box3">
                                    <div class="checkbox-box3">
                                        <div>
                                            <label class="main checkbox-main checkbox-teg">
                                                <input type="checkbox" formControlName="productivity">
                                                <span class="checkbox-container modal-label"> </span>
                                                <span class="text-checkbox"> Продуктивность</span>

                                            </label>

                                        </div>
                                        <div>

                                            <label class="main checkbox-main checkbox-teg">
                                                <input type="checkbox" formControlName="health">
                                                <span class="checkbox-container modal-label"> </span>
                                                <span class="text-checkbox"> Здоровье</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="checkbox-box3">
                                        <div>
                                            <label class="main checkbox-main checkbox-teg">
                                                <input type="checkbox" formControlName="edication">
                                                <span class="checkbox-container modal-label"> </span>
                                                <span class="text-checkbox"> Образование</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="main checkbox-main checkbox-teg">
                                                <input type="checkbox" formControlName="urgent">
                                                <span class="checkbox-container modal-label"> </span>
                                                <span class="text-checkbox"> Срочно</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                    <div class="button-task change-task">
                                        <button class="create-button-task change-button-task" (click)="addTask()"
                                            [disabled]="!profileForm.valid" type="submit">

                                            @if(!profileForm.valid){
                                            <div style="color:coral"> Добавить</div>
                                            }
                                            @if(profileForm.valid){
                                            <div> Добавить</div>
                                            }
                                        </button>
                                        <button class="create-button-task change-button-task button-delete"
                                            (click)="deleteTaskModal()">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                }
            </div>
            }

            <div class="footer4">
                <div class="text-footer"></div>
            </div>
        </div>
    </div>
