* {
    box-sizing: border-box;
    margin: 0;
    line-height: 40px;
    color: #B4B7BD;
    letter-spacing: 0.6px;
    font-family: Montserrat, sans-serif;
}

html {
    box-sizing: border-box;
    margin: 0;
}


.box {
    margin: 2%;
    width: 1277px;
}

.menu {
    grid-area: menu;
}

.main3 {
    grid-area: main;
    width: 1112px;
}

.footer4 {
    grid-area: footer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}

.grid-container {
    background-color: #3B4253;
    display: grid;
    grid:
        'menu main main main main main'
        'menu footer footer footer footer footer';
    grid-gap: 2px;
    padding: 2px;
    border-radius: 7px;
}

.grid-container>div {
    background-color: #31394C;
    font-size: 80%;

}

.create-button-task {
    background-color: #7367f0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    margin-top: 13%;
    border: none;
    padding: 1px 16px 1px 16px;
}

.button-task {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
    ;
}

.container-task {
    padding-left: 10%;
}

.img {
    cursor: pointer;
    width: 10%;
}

ul {
    padding-right: 13px;
}

li {
    cursor: pointer;
    line-height: 36px;
}

ul li::marker {
    color: #7367f0;
    font-size: 2em;

}

ul li:nth-child(2)::marker {
    color: #28C76F;
}

ul li:nth-child(3)::marker {
    color: #FF9F43;
}

ul li:nth-child(4)::marker {
    color: #EA5455;
}

.task-text {
    border-bottom: solid 0.1px #3B4253;
    height: 53px;
    padding-left: 23px;
    display: flex;
    align-items: center;
}

.my-task {
    font-size: 15px;
    cursor: pointer;
}

.text-mytask {
    cursor: pointer;
}

.main {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 15px;
    line-height: 45px;
}

.main input[type=checkbox] {
    visibility: hidden;
}

.box-checkbox-container {
    display: inline-block;
}

.checkbox-container {
    position: absolute;
    top: 19px;
    left: 16px;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: solid 1px #57627c;
    border-radius: 4px;
}

.checkbox-container::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.main input:checked~.checkbox-container::after {
    display: block;
}

.main input:checked~.checkbox-container {
    background-color: #7367f0;
    color: white;
}

.checkbox-container {
    background-color: #31394C;
}

.container {
    display: flex;
    flex-direction: column;
}

.container .item {
    background-color: #31394C;
    border: solid 1px #3B4253;
    color: #B4B7BD;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: move;
    transition: transform 0.2s ease-in-out;
}


.task {
    width: 420px;
}

.chosen-teg {
    display: flex;
    width: 410px;
}

.teg {
    background: #3e5a5a;
    border-radius: 9px;
    height: 22px;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #4ecf6a;
    padding: 11px;
    margin: 4px;
}

.teg:empty {
    display: none;
}

.data {
    font-size: 12px;
    color: #747d91;
}

.icone-calendar {
    display: flex;
}

.cart,
.change {
    padding: 0 9px;
    cursor: pointer;
}

.modal-window {
    right: 25px;
    background-color: #2d2f36;
    width: 270px;
    height: auto;
    position: absolute;
    top: 23px;

}

.box-window {
    background-color: #3B4253;
    padding-left: 13px;
    padding-right: 13px;
    height: 700px;
}

.block-modal {
    margin: 3px;
}

.checkbox-main {
    padding-left: 12px;


}

.modal-label {
    top: 15px;
    left: 1px;
}

.check-teg {
    display: inline-block;
}

.checkbox-teg {
    margin-right: 8px
}

.description-task {
    height: 150px !important;
    line-height: 16px;
}

.input-modul {
    width: -webkit-fill-available;
    background-color: #3B4253;
    border: 1.5px solid #5b6872;
    border-radius: 3px;
    height: 43px;
}

.tegs {
    display: flex;
}

.input-calendar {
    width: 100%;
    background-color: #3B4253;
}

.change-task {
    justify-content: space-around;
}

.change-button-task {
    margin-top: 0;
}

.button-delete {
    background-color: transparent;
    border: 1px solid #7367f0;
    color: #7367f0;

}

.text-checkbox {
    font-size: 11px;
    color: #cfcfcf;
}

input::placeholder {
    color: coral;
}

.status-task {
    cursor: pointer;
}

.orange {
    color: orange;
}

.chosen-teg-delete {
    display: flex;
    width: 500px;
}

.checkbox-box3 {
    display: flex;
    height: 50px;
}


.delete-modul{
    width: 330px;
    height: 150px;
    text-align: center;
    background-color: #3d4660;
    margin-left: 400px;
    font-size: 12px;
    border-radius: 5px;
}
